body{
    /* background: #7c78f1;
    margin: 0; */
    background: #642a9b;
background: linear-gradient(332deg, rgba(100, 42, 155, 1) 0%, rgba(218, 97, 242, 1) 35%, rgba(255, 229, 0, 1) 99%);
    margin: 0;
}

#main-div{
    background: #5603ad;
    width: 70%;
    height: 600px;
    margin-left: 15%;
}

h1{
    color: #f0fff1;
    text-align: center;
    padding-top: 30px;
    /* border: #f0fff1 solid 2px; */
    font: 'serif';
    font-size: 48px;
    font-weight: bold;
    
}

hr{
    width: 90%;
    padding-left: 10;
    padding-right: 10;
    border: 1px solid #f0fff1;
    margin-top: -10px;

}
h2{
    color: #f0fff1;
    padding-left: 20px;
    font: 'serif';
    font-size: 32px;
    font-weight: bold;
}
p{
    color:#f0fff1;
    padding-left: 20px;
    padding-right: 40%;
}

img{
    padding-left: 20px;
    width: 500px;
}