body {
  background: #020024;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(65, 9, 121, 1) 35%, rgba(18, 168, 255, 1) 100%);
    font-family: 'Poppins', sans-serif;
    color: #f0fff1;
    
  }
  
  .navigation {
    background: #410979;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    
  }

  #logo {
    width: 60px;
    /* padding-top: 150px; */
    margin: 0;
  }

  #nav-links{
    padding-top: 20px;
    padding-right: 50px;
    font-size: 20px;
  }
  a{
    color: #f0fff1;
    padding: 10px;
    text-decoration: none;
  }


  
  #main-div {
    background: rgba(86, 3, 173, 0.9);
    width: 70%;
    max-width: 900px;
    margin: auto;
    margin-top: 110px;
    margin-bottom: 500px;
    padding: 40px;
    border-radius: 20px;
  }
  
  
  h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1px;
    
  }
  
  
  hr {
    margin: 10px;
    width: 90%;
    height: 1px;
    background: #f0fff1;
    
  }
  
  
  h2 {
    margin-left: 10px;
    font-size: 30px;
    /* font-family: 'Poppins', sans-serif; change font */
    font-weight: 600;
    letter-spacing: 1px;
    
  }
  
 
  p {
    margin-left: 10px;
    line-height: 1.7;
    font-size: 17px;
    width: 530px;
    letter-spacing: 0.5px;
    
  }
  
  img {
    margin-top: -150px;
    margin-left: 600px;
    width: 100%;
    width: 300px;
    border-radius: 15px;

  }

  